In [13]:
import numpy as np 
import pandas as pd
from scipy import stats
import math
import statistics

In [9]:
df = pd.read_csv('titanic.csv')
df['Name'][df['Embarked'] == "S"]

0                           Braund, Mr. Owen Harris
2                            Heikkinen, Miss. Laina
3      Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                          Allen, Mr. William Henry
6                           McCarthy, Mr. Timothy J
                           ...
883                   Banfield, Mr. Frederick James
884                          Sutehall, Mr. Henry Jr
886                           Montvila, Rev. Juozas
887                    Graham, Miss. Margaret Edith
888        Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 644, dtype: object

In [16]:
df_clothes = pd.DataFrame(data=[['blue','S',20,'lemon shirt'],
                               ['blue','M',50,'jeans'],
                               ['beige','M',7,'bucket hat']])
df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [17]:
size_map = {'S':1,'M':2,'L':3}

In [20]:

from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()